<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>
<body>

 <header>
        <nav>
            <ul>
                <li><a href="{{ path('acceuil') }}">Acceuil</a></li>
                <li><a href="{{ path('a-propos') }}">À propos</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <ul>
        {% for utilisateur in utilisateurs_tab  %}
        <li><p><strong>{{ utilisateur.name }}</strong></p>
            <p>{{ utilisateur.email }}</p>
            <p>{{ utilisateur.work }}</p>
        </li>
        {% endfor %}
    </ul>


    <footer>
        <p>&copy; 2024 Mon site Symfony. Y'a rien de réservé.</p>
    </footer>
</body>
</html>